.filter--container {
    margin-left:8.5%;
    width: 10vw;
    margin-top: 50px;
    position: sticky;
    top: 50px;
    height: 100%;
}


.filter--title__main {
    font-size:1.25vw;
    margin-bottom: 4vh;
}

.filter--title {
    font-size:1.25vw;
    margin-bottom: 2vh;
}

.filter--list {
    font-size: 1.1vw;
    margin-bottom: 0.5vh;
}

.filter--input {
    margin-left: 0px;
}

.filter--list__container {
    padding-bottom: 3vh;
}

.filter--checkbox {
    width: 13px;
    height: 13px;
    border: 1px solid grey;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5%;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.filter--checkbox__selected {
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5%;
    cursor: pointer;
    background-color: #0066FF;
    position: relative;
    transition: all 0.2s ease-in-out;
}
