.filter--container {
	margin-left: 8.5%;
	width: 10%;
	margin-top: 50px;
	position: sticky;
	top: 100px;
	height: 100%;
}

.filter--title__main {
	font-size: 23px;
	margin-bottom: 40px;
}

.filter--title {
	font-size: 23px;
	margin-bottom: 20px;
}

.filter--list {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 300;
}

.filter--input {
	margin-left: 0px;
}

.filter--list__container {
	padding-bottom: 30px;
}

.filter--checkbox {
	width: 13px;
	height: 13px;
	border: 1px solid grey;
	border-radius: 2px;
	display: inline-block;
	margin-right: 5%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.filter--checkbox__selected {
	width: 13px;
	height: 13px;
	border: none;
	border-radius: 2px;
	display: inline-block;
	margin-right: 5%;
	cursor: pointer;
	background-color: #0066ff;
	transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
	.filter--container {
		margin-left: 6%;
		width: 12.5%;
        top: 50px;
        margin-top: 30px;
	}
	.filter--title__main {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.filter--title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.filter--list {
		font-size: 14px;
	}

	.filter--list__container {
		padding-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
    .filter--container {
        margin-left: 4%;
        
		width: 14.5%;
		top: 40px;
	}
	.filter--title__main {
		font-size: 17px;
	}
	.filter--title {
		font-size: 17px;
	}
	.filter--list {
		font-size: 13px;
	}
}

@media only screen and (max-width: 600px) {
    .filter--container {
		margin-left: 4%;
        width: 14.5%;
        margin-top: 5px;
	}
	.filter--title__main {
		font-size: 15px;
		margin-bottom: 10px;
	}
	.filter--title {
		font-size: 15px;
		margin-bottom: 10px;
	}
	.filter--list {
        font-size: 10px;
    }
    
    .filter--list__label {
        vertical-align : top;
    }

	.filter--list__container {
		padding-bottom: 15px;
    }
    
    .filter--checkbox {
        margin-right: 2%;
    }
    
    .filter--checkbox__selected {
        margin-right: 2%;
    }
}

@media only screen and (max-width: 480px) {
    .filter--container {
		margin-left: 4%;
        width: 23.5%;
        margin-top: 5px;
	}
    .filter--title__main {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.filter--title {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.filter--list {
        font-size: 8px;
    }
    
}
