.footer--container {
    background-color: black;
    height: 550px;
    margin-top: 200px;
    color:white;
}

.footer--sns {
    text-align: center;
    padding-top: 50px;
}

.footer--title {
    font-size: 35px;
    font-family: var(--primary__font);
}

.footer--icons {
    font-size: 40px;
}

.footer--content__container {
    margin-top: 35px;
}

.footer--content {
    display:flex;
    margin-left:8.5%;
    margin-right: 8.5%;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.footer--content__text {
    font-size: 20px;
    display:inline-block;
    padding: 15px 60px;
    font-weight:300;
    width: 83%;
}

.footer--comment__container {
    margin-top: 85px;
}
.footer--comment {
    font-size: 23px;
    font-weight: 300;
    text-align: center;
}