.footer--container {
    background-color: black;
    height: 550px;
    margin-top: 200px;
    color:white;
}

.footer--sns {
    text-align: center;
    padding-top: 50px;
}

.footer--title {
    font-size: 30px;
    font-family: var(--primary__font);
}

.footer--icons__container {
    font-size: 40px;
}

.footer--icons {
    transition: all 0.1s linear;
}

.footer--icons:hover {
    transition: all 0.1ßs linear;
    transform: scale(1.2);
}

.footer--content__container {
    margin-top: 35px;
}

.footer--content {
    display:flex;
    margin-left:8.5%;
    margin-right: 8.5%;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.footer--content__text {
    font-size: 20px;
    display:inline-block;
    padding: 15px 60px;
    font-weight:300;
    width: 83%;
}

.footer--comment__container {
    margin-top: 85px;
}
.footer--comment {
    font-size: 23px;
    font-weight: 300;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .footer--container {
        height: 500px;
    }

    .footer--title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .footer--icons__container {
        font-size: 30px;
    }

    .footer--content__container {
        margin-top: 30px;
    }

    .footer--content__text {
        font-size: 18px;
        padding: 15px 15px;
    }
    .footer--comment__container {
        margin-top: 50px;
    }
    .footer--comment {
        font-size: 18px;
    }
}
@media only screen and (max-width: 768px) {
    .footer--container {
        margin-top: 150px;
    }
    .footer--title {
        font-size: 22px;
    }

    .footer--content__container {
        margin-top: 30px;
    }

    .footer--content__text {
        font-size: 15px;
    }
    
    .footer--comment {
        font-size: 15px;
    }
}
@media only screen and (max-width: 480px) {

    .footer--container {
        height: 575px;
        margin-top: 100px;
    }
    .footer--content {
        display:block;
        text-align:center;
    }

    .footer--content__container {
        margin-top: 10px;
    }
    
    .footer--comment {
        font-size: 12px;
    }

    .footer--comment__container {
        margin-top: 30px;
    }

    .footer--content__text {
        font-size: 15px;
        padding: 5px 0px;
    }
}