.nav--container {
    display: flex;
    width: 83%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-left:8.5%;
    margin-right: 8.5%;
}

.nav--logo {
    width: 4vw;
    max-width: 60px;
    height: 4vw;
    max-height: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav--button__container {
    padding-left: 2vw;
}

.nav--button {
    border: none;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    margin-left:1vw;
    font-size:23px;
    transition: all .2s ease-in-out;
    font-family: var(--primary__font)
}

.nav--button:hover {
    transform: scale(1.05);
    color: #0066FF;
}

.nav--button:focus {
    outline: none;
}

.nav--icon__container {
    margin-left: auto;
    display:flex;
    align-items: center;
}

.nav--icons {
    font-size:28px;
    margin-left:1vw;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.nav--icons:hover {
    transform: scale(1.05);
    color: #0066FF;
}

.nav--search {
    margin-left: 0.5vw;
    padding-left: 1vw;
    margin-bottom: 3px;
    width: 25vw;
    height: 40px;
    transition: all 0.5s ease-in-out;
    background-color: #F5F5F5;
    border: none;
    border-radius:2px;
}


.nav--search__inactive {
    position:relative;
    width: 0px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-bottom:3px;
    transition: all 0.5s ease-in-out;
}

.nav--search__container {
    position:relative;
}

.nav--search__item {
    position:absolute;
    left:0;
    background-color:white;
    width:25vw;
    margin-left: 0.5vw;
    margin-top: 15px;
    visibility: hidden;
    z-index:2;
    transition: all 1s linear 0.5s
}

.nav--search__item__inactive {
    display:none;
}

.search--item__active {
    position:relative;
    cursor: pointer;
    display:flex;
    justify-content:left;
    align-items: center;
    height: 100px;

}

.search--item__active:hover {
    border: 1px solid grey;
}

.nav--search:focus + .nav--search__item {
    visibility: visible;
}

.search--item__image {
    margin-left: 15px;
    height: 80%;
}

.search--item__box {
    margin-left: 20px;
    margin-top: 10px;
    background-color:white;
}

.search--item__name {
    font-family: var(--primary__font);
}

.search--item__brand {
    color:grey;
}

.search-item__price {

}