.nav--container {
    display: flex;
    width: 83%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-left:8.5%;
    margin-right: 8.5%;
    font-family: 'Montserrat', sans-serif;
}

.nav--logo {
    width: 4vw;
    height: 4vw;
    align-items: center;
    justify-content: center
}

.nav--button__container {
    padding-left: 4vw;
}

.nav--button {
    border: none;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    margin-left:1vw;
    font-size:1.25vw;
    transition: all .2s ease-in-out;
}

.nav--button:hover {
    transform: scale(1.1);
    color: #FF9B42;
}

.nav--button:focus {
    outline: none;
}

.nav--icon__container {
    margin-left: auto;
    display:flex;
    align-items: center;
}

.nav--icons {
    font-size:1.8vw;
    margin-left:1vw;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.nav--icons:hover {
    transform: scale(1.2);
    color: #FF9B42;
}

.nav--search {
    margin-left: 0.5vw;
    padding-left: 1vw;
    margin-bottom: 3px;
    width: 25vw;
    height: 2vw;
    transition: all 0.5s ease-in-out;
    background-color: #F5F5F5;
    border: none;
    border-radius:2px;
}

.nav--search:focus {
    outline: none
}

.nav--search__inactive {
    width: 0px;
    height: 2vw;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-bottom:3px;
    transition: all 0.5s ease-in-out
}
