.products--container {
	margin-top: 5vh;
	width: 73vw;
}

.products--loading {
	margin: auto;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.products--loading__loader {
	width: 60px;
	height: 60px;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #0066FF;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.products--sort {
	display: flex;
	justify-content: flex-end;
}

.products--sort__container {
	width: 30%;
	position: relative;
}

.products--sort__button {
	padding: 5px 10px;
	font-size: 0.95vw;
	border: 1px solid #bebebe;
	cursor: pointer;
	letter-spacing: 1.5px;
}

.products--sort__icon {
	position: absolute;
	right: 5px;
}

.products--sort__hidden {
	position: absolute;
	width: 100%;
	top: 1px;
	padding: 5px 10px;
	color: transparent;
	font-size: 1vw;
	letter-spacing: 1.5px;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.products--sort__container:hover .products--sort__hidden {
	transform: translateY(100%);
	border: 1px solid #bebebe;
	border-top: 0px;
	width: 100%;
	background-color: white;
	color: black;
	padding: 5px 10px;
	font-size: 1vw;
	cursor: pointer;
	letter-spacing: 1.5px;
	transition: all 0.3s ease-in-out;
}

.products--sort__container:hover .products--sort__one {
	transform: translateY(200%);
	transition: all 0.3s ease-in-out;
}

.products--sort__container:hover .products--sort__two {
	transform: translateY(300%);
	transition: all 0.3s ease-in-out;
}

.products--card__list {
	display: flex;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.products--card {
	margin-left: 5%;
	width: 15%;
	cursor: pointer;
}

.products--image {
	width: 100%;
}

.products--name {
	font-size: 1.25vw;
	margin-left: 11%;
}

.products--price {
	font-size: 1vw;
	margin-left: 11%;
}

.products--brand {
	color: #a9a9a9;
	font-size: 1vw;
	margin-left: 11%;
}
