.products--container {
	margin-top: 50px;
	width: 73%;
}

.products--loading {
	margin: auto;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.products--loading__loader {
	width: 60px;
	height: 60px;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #0066FF;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.products--sort {
	display: flex;
	justify-content: flex-end;
}


.products--sort__container {
	width: 333px;
	position: relative;
	z-index: 1;
	box-shadow: 0.5px 1px grey;
}

.products--sort__button {
	padding: 5px 10px;
	font-size: 18px;
	border: 1px solid #bebebe;
	cursor: pointer;
	letter-spacing: 1.5px;
}

.products--sort__icon {
	position: absolute;
	right: 5px;
}

.products--sort__hidden {
	position: absolute;
	width: 100%;
	top: 1px;
	padding: 5px 10px;
	color: transparent;
	font-size: 18px;
	letter-spacing: 1.5px;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.products--sort__container:hover {
	box-shadow: none;
}

.products--sort__container:hover .products--sort__hidden {
	transform: translateY(100%);
	border: 1px solid #bebebe;
	border-top: 0px;
	width: 100%;
	background-color: white;
	color: black;
	padding: 5px 10px;
	cursor: pointer;
	letter-spacing: 1.5px;
	transition: all 0.3s ease-in-out;
}

.products--sort__container:hover .products--sort__one {
	transform: translateY(200%);
	transition: all 0.3s ease-in-out;
}

.products--sort__container:hover .products--sort__two {
	transform: translateY(300%);
	transition: all 0.3s ease-in-out;
}

.products--card__list {
	display: flex;
	margin-top: 75px;
	margin-bottom: 50px;
}
.products--card {
	margin-left: 8%;
	width: 17%;
	cursor: pointer;
	transition: all 0.1s linear;
}

.products--card:hover {
	transform:scale(1.2);
	transition: all 0.1s linear;
}

.products--image {
	width: 100%;
}

.products--name {
	font-family: var(--primary__font);
	font-size: 15px;
}

.products--info__container {
	display: flex;
}

.products--price {
	font-size: 15px;
	margin-left: auto
}

.products--brand {
	color: #a9a9a9;
	font-size: 15px;
}