.signin--container {
	margin-left: 8.5%;
	margin-right: 8.5%;
	margin-top: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin--box {
	width: 400px;
	height: 100%;
	border: 1px solid #bebebe;
	border-radius: 5px;
	box-shadow: 1px 2px grey;
}

.signin--box__title {
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: var(--primary__font);
}

.signin--row {
	display: flex;
	justify-content: center;
	margin: 5% 10%;
}

.signin--input__container {
	position: relative;
	margin: 0 2%;
	width: 100%;
}

.signin--input {
	border: 1px solid #bebebe;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	padding-left: 10px;
}

.signin--label {
	position: absolute;
	left: 10px;
	color: grey;
	z-index: 1;
	font-size: 14px;
	transition: all 0.2s ease;
	transform: translateY(8px);
	pointer-events: none;
}

.signin--input:focus + .signin--label,
.signin--input:valid + .signin--label {
	transform: translateY(-50%);
	background-color: white;
	color: grey;
	font-size: 12px;
	padding: 2px;
}

.signin--input:focus + .signin--label {
	color: #0066ff;
}

.signin--row__button {
	display: flex;
	justify-content: center;
	margin: 13% 11% 10% 11%;
}

.signin--button__one {
	width: 40%;
	height: 35px;
	margin-right: 13%;
	background-color: white;
	color: #0066ff;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0px 0px 0px 5px;
	text-align: left;
}

.signin--button__two {
	width: 30%;
	height: 35px;
	margin-left: 23%;
	background-color: #0066ff;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.signin--error__message {
	color: red;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.signin--container {
		margin-left: 4%;
		margin-right: 4%;
		margin-top: 60px;
	}

	.signin--box__title {
		font-size: 25px;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	.signin--row {
		margin: 5% 5%;
    }
    
    .signin--row__button {
        margin: 15% 7% 10% 7%;
    }
    
    .signin--button__one {
        width: 80%;
        margin-right: auto;

    }
    
    .signin--button__two {
        width: 80%;
        margin-left: auto;
    }
    
    .signin--error__message {
        font-size:12px;
    }
}
